ordershipments/statemachine/create-fulfillment.asl.json
{
    "Comment": "Processes a Jetti add-fulfillment POST request.",
    "StartAt": "Get EPCC Token",
    "States": {
        "Get EPCC Token": {
            "Type": "Task",
            "Resource": "${GetTokenFunctionArn}",
			"ResultPath": "$.epccToken",
            "Next": "Get Order",
            "Catch": [ {
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.errorInfo",                
                "Next": "Send Error Email"
             } ]
        },
        "Get Order": {
            "Type": "Task",
            "Resource": "${GetOrderFunctionArn}",
			"ResultPath": "$.order",
            "Next": "Get Fulfillment Container",
            "Catch": [ {
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.errorInfo",                
                "Next": "Send Error Email"
             } ]
        },
        "Get Fulfillment Container": {
            "Type": "Task",
            "Resource": "${GetFulfillmentContainerFunctionArn}",
			"ResultPath": "$.fulfillmentContainer",
            "Next": "Create Fulfillment",
            "Catch": [ {
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.errorInfo",                
                "Next": "Send Error Email"
             } ]
        },
        "Create Fulfillment": {
            "Type": "Task",
            "Resource": "${CreateFulfillmentFunctionArn}",
			"ResultPath": "$.fulfillment",
            "Next": "Create Fulfillment Items",
            "Catch": [ {
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.errorInfo",                
                "Next": "Send Error Email"
             } ]
        },
        "Create Fulfillment Items": {
            "Type": "Map",
			"ItemsPath": "$.jettiObject.fulfillmentItems",
			"Parameters": {
				"epccToken.$": "$.epccToken",
				"fulfillmentItem.$": "$$.Map.Item.Value"
			},
			"ResultPath": "$.fulfillmentItemIds",
			"Iterator": {
				"StartAt": "Create Fulfillment Item",
				"States": {
					"Create Fulfillment Item": {
						"Type": "Task",
						"Resource": "${CreateFulfillmentItemFunctionArn}",
						"End": true
					}
				}
			},
            "Next": "Create Fulfillment Item Relationships",
            "Catch": [ {
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.errorInfo",
                "Next": "Handle Submission Error"
             } ]
        },
        "Create Fulfillment Item Relationships": {
            "Type": "Task",
            "Resource": "${CreateFulfillmentItemRelationshipsFunctionArn}",
			"ResultPath": null,
			"End": true,
            "Catch": [ {
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.errorInfo",                
                "Next": "Handle Submission Error"
             } ]
        },
        "Handle Submission Error": {
            "Type": "Task",
			"Parameters": {
				"epccToken.$": "$.epccToken",
                "fulfillment.$": "$.fulfillment",
                "fulfillmentContainer.$": "$.fulfillmentContainer",
                "fulfillmentItemIds.$": "$.fulfillmentItemIds"
			},
            "Resource": "${RollbackFulfillmentFunctionArn}",
			"ResultPath": null,
			"Next": "Send Error Email"
        },
        "Send Error Email": {
            "Type": "Task",
			"Parameters": {
				"jettiStoreId.$": "$.jettiStoreId",
                "fulfillmentId.$": "$.jettiObject.instance.id",
                "executionArn.$": "$$.Execution.Id",
                "executionTime.$": "$$.Execution.StartTime",
                "failureCause.$": "$.errorInfo.Cause"
			},
            "Resource": "${SendErrorEmailFunctionArn}",
			"ResultPath": null,
			"End": true
        }
	}
}
