ordershipments/statemachine/create-fulfillment.asl.json
{
    "Comment": "Processes a Jetti add-fulfillment POST request.",
    "StartAt": "Get EPCC Token",
    "States": {
        "Get EPCC Token": {
            "Type": "Task",
            "Resource": "${GetTokenFunctionArn}",
			"ResultPath": "$.epccToken",
            "Next": "Get Order"
        },
        "Get Order": {
            "Type": "Task",
            "Resource": "${GetOrderFunctionArn}",
			"ResultPath": "$.order",
            "Next": "Get Fulfillment Container"
        },
        "Get Fulfillment Container": {
            "Type": "Task",
            "Resource": "${GetFulfillmentContainerFunctionArn}",
			"ResultPath": "$.fulfillmentContainer",
            "Next": "Create Fulfillment"
        },
        "Create Fulfillment": {
            "Type": "Task",
            "Resource": "${CreateFulfillmentFunctionArn}",
			"ResultPath": "$.fulfillment",
            "Next": "Create Fulfillment Items"
        },
        "Create Fulfillment Items": {
            "Type": "Map",
			"ItemsPath": "$.jettiObject.fulfillmentItems",
			"Parameters": {
				"epccToken.$": "$.epccToken",
				"fulfillmentItem.$": "$$.Map.Item.Value"
			},
			"ResultPath": "$.fulfillmentItemIds",
			"Iterator": {
				"StartAt": "Create Fulfillment Item",
				"States": {
					"Create Fulfillment Item": {
						"Type": "Task",
						"Resource": "${CreateFulfillmentItemFunctionArn}",
						"End": true
					}
				}
			},
            "Next": "Create Fulfillment Item Relationships"
        },
        "Create Fulfillment Item Relationships": {
            "Type": "Task",
            "Resource": "${CreateFulfillmentItemRelationshipsFunctionArn}",
			"ResultPath": null,
			"End": true
        }
	}
}
